body {
    width: 1000px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 2px solid #333;
    background-color: #f8f9fa;
    font-family: 'Verdana', sans-serif;
    color: #333;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #0056b3;
    text-align: center;
    font-size: 28px;
    border-bottom: 2px solid #0056b3;
}

.tg {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.tg td {
    border-color: #333;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    border-color: #333;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
    background-color: #0056b3;
    color: #fff;
}

.tg .tg-0lax {
    text-align: left;
    vertical-align: top;
}

.center {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.container {
    align-items: center;
    display: flex;
}

.image {
    flex: 0 0 65%;
    margin-right: 20px;
}

.text {
    flex: 1;
}
